In [21]:
# Dependencies
# ----------------------------------
# # Pandas
import pandas as pd

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float, Date, Numeric

In [22]:
 # Create hstr_data
 # Creates Classes which will serve as the anchor points for our Tables

 # Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

# Creates Classes which will serve as the anchor points for our Tables
class Historical(Base):
    __tablename__ = 'historical'
    id = Column(Integer, primary_key=True)
    date = Column(Date)
    latitude = Column(Integer)
    longitude = Column(Integer)
    uv_index = Column(Numeric)

In [41]:
data_file = "hstr_data.csv"

In [42]:
df_file = pd.read_csv(data_file)
df_file.head()

                  date  latitude  longitude  uv_index
0  2018-01-09 12:00:00       -36        112     12.51
1  2018-01-09 12:00:00       -36        116     12.15
2  2018-01-09 12:00:00       -36        120     11.27
3  2018-01-09 12:00:00       -36        124     11.26
4  2018-01-09 12:00:00       -36        128     11.85

In [44]:
historical = Historical(date=df_file[df_file.date], latitude=df_file[df_file.latitude], longitude=df_file[df_file.longitude], uv_index=df_file[df_file.uv_idex]

AttributeError: 'DataFrame' object has no attribute 'uv_idex'

In [43]:
df_file.date

0     2018-01-09 12:00:00
1     2018-01-09 12:00:00
2     2018-01-09 12:00:00
3     2018-01-09 12:00:00
4     2018-01-09 12:00:00
5     2018-01-09 12:00:00
6     2018-01-09 12:00:00
7     2018-01-09 12:00:00
8     2018-01-09 12:00:00
9     2018-01-09 12:00:00
10    2018-01-09 12:00:00
11    2018-01-09 12:00:00
12    2018-01-09 12:00:00
13    2018-01-09 12:00:00
14    2018-01-09 12:00:00
15    2018-01-09 12:00:00
16    2018-01-09 12:00:00
17    2018-01-09 12:00:00
18    2018-01-09 12:00:00
19    2018-01-09 12:00:00
20    2018-01-09 12:00:00
21    2018-01-09 12:00:00
22    2018-01-09 12:00:00
23    2018-01-09 12:00:00
24    2018-01-09 12:00:00
25    2018-01-09 12:00:00
26    2018-01-09 12:00:00
27    2018-01-09 12:00:00
28    2018-01-09 12:00:00
29    2018-01-09 12:00:00
30    2018-01-09 12:00:00
31    2018-01-09 12:00:00
32    2018-01-09 12:00:00
33    2018-01-09 12:00:00
34    2018-01-09 12:00:00
Name: date, dtype: object

In [ ]:
# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [ ]:
# Query All Records in the the Database
data = pd.read_sql("SELECT * FROM hstr_data", conn)

In [ ]:
# Query All Records in the the Database
# Preview the Data
data.head()