In [1]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine


# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float, DateTime

#Import Pandas
import pandas as pd

In [2]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

# Creates Classes which will serve as the anchor points for our Tables
class historicalcity(Base):
    __tablename__ = 'weather_city_hist'
    index = Column(Integer, primary_key=True)
    date = Column(String)
    city = Column(String)
    latitude= Column(Integer)
    longitude = Column(Integer)
    uv_index = Column(Integer)

In [3]:
data_file = "hstr_data_city.csv"

In [4]:
df_file_city = pd.read_csv(data_file)
df_file_city.head()

                  date         city  latitude  longitude  uv_index
0  2020-01-01 12:00:00       Albany  -35.0228   117.8814     12.58
1  2020-01-01 12:00:00      Augusta  -34.3120   115.1590     12.96
2  2020-01-01 12:00:00   Australind  -33.2792   115.7150     13.22
3  2020-01-01 12:00:00  Bakers Hill  -31.7510   116.4550     13.66
4  2020-01-01 12:00:00      Bentley  -32.0010   115.9240     13.32

In [5]:
engine = create_engine('sqlite:///histcity.sqlite', echo=True)
sqlite_connection = engine.connect()

2021-01-16 10:42:05,229 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-01-16 10:42:05,232 INFO sqlalchemy.engine.base.Engine ()
2021-01-16 10:42:05,239 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-01-16 10:42:05,245 INFO sqlalchemy.engine.base.Engine ()

In [6]:
sqlite_table = "weather_city_hist"
df_file_city.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2021-01-16 10:42:11,868 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("weather_city_hist")
2021-01-16 10:42:11,870 INFO sqlalchemy.engine.base.Engine ()
2021-01-16 10:42:11,878 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("weather_city_hist")
2021-01-16 10:42:11,881 INFO sqlalchemy.engine.base.Engine ()
2021-01-16 10:42:11,887 INFO sqlalchemy.engine.base.Engine
CREATE TABLE weather_city_hist (
	"index" BIGINT,
	date TEXT,
	city TEXT,
	latitude FLOAT,
	longitude FLOAT,
	uv_index FLOAT
)


2021-01-16 10:42:11,890 INFO sqlalchemy.engine.base.Engine ()
2021-01-16 10:42:11,914 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-16 10:42:11,917 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_weather_city_hist_index ON weather_city_hist ("index")
2021-01-16 10:42:11,919 INFO sqlalchemy.engine.base.Engine ()
2021-01-16 10:42:11,942 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-16 10:42:11,954 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-16 10:42:11,968 INFO sqlalchemy.engine.base.Engine INSERT INTO weather_city_hist ("index", date, city, latitude, longitude, uv_index) VALUES (?, ?, ?, ?, ?, ?)
2021-01-16 10:42:11,970 INFO sqlalchemy.engine.base.Engine ((0, '2020-01-01 12:00:00', 'Albany', -35.0228, 117.8814, 12.58), (1, '2020-01-01 12:00:00', 'Augusta', -34.312, 115.159, 12.96), (2, '2020-01-01 12:00:00', 'Australind', -33.2792, 115.715, 13.22), (3, '2020-01-01 12:00:00', 'Bakers Hill', -31.751, 116.455, 13.66), (4, '2020-01-01 12:00:00', 'Bentley', -32.001, 115.924, 13.32), (5, '2020-01-01 12:00:00', 'Beverley', -32.109, 116.926, 13.61), (6, '2020-01-01 12:00:00', 'Bindoon', -31.38, 116.097, 13.84), (7, '2020-01-01 12:00:00', 'Binningup', -33.149, 115.689, 13.22)  ... displaying 10 of 166 total bound parameter sets ...  (164, '2020-01-02 12:00:00', 'York', -31.8883, 116.7686, 13.93), (165, '2020-01-02 12:00:00', 'Yunderup', -32.5833, 115.8, 13.08))
2021-01-16 10:42:11,977 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

# Use this to clear out the db
# ----------------------------------
# Base.metadata.drop_all(engine)

2021-01-16 10:42:16,768 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("weather_city_hist")
2021-01-16 10:42:16,770 INFO sqlalchemy.engine.base.Engine ()

In [8]:
# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [9]:
# Query the Tables
# ----------------------------------
# Perform a simple query of the database
weather_list = session.query(historicalcity)
for weather in weather_list:
    print(weather.city)

2021-01-16 10:42:24,306 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-16 10:42:24,309 INFO sqlalchemy.engine.base.Engine SELECT weather_city_hist."index" AS weather_city_hist_index, weather_city_hist.date AS weather_city_hist_date, weather_city_hist.city AS weather_city_hist_city, weather_city_hist.latitude AS weather_city_hist_latitude, weather_city_hist.longitude AS weather_city_hist_longitude, weather_city_hist.uv_index AS weather_city_hist_uv_index
FROM weather_city_hist
2021-01-16 10:42:24,312 INFO sqlalchemy.engine.base.Engine ()
Albany
Augusta
Australind
Bakers Hill
Bentley
Beverley
Bindoon
Binningup
Boddington
Boyanup
Bridgetown
Broome
Bullsbrook
Bunbury
Busselton
Cannington
Capel
Carnarvon
Chidlow
Collie
Cowaramup
Dampier
Denmark
Derby
Dongara
Donnybrook
Drummond Cove
Dunsborough
Esperance
Exmouth
Fitzroy Crossing
Fremantle
Geraldton
Halls Creek
Harvey
Jarrahdale
Jurien Bay
Kalbarri
Kalgoorlie
Kambalda
Kambalda West
Karratha
Katanning
Kojonup
Kununurra
Kwinana
Leschenault
Lesmurdie
Little Grove
Lower Chittering
Lower King
Mandurah
Manjimup
Margaret River
Merredin
Moora
Mount Barker
Mundijong
Narrogin
Newman
Northam
Nullagine
Paraburdoo
Perth
Pinjarra
Port Denison
Port Hedland
Quindalup
Ravenswood
Serpentine
Tom Price
Toodyay
Two Rocks
Vasse
Wagin
Waroona
Wickham
Wooroloo
Wundowie
Yallingup
Yanchep
York
Yunderup
Albany
Augusta
Australind
Bakers Hill
Bentley
Beverley
Bindoon
Binningup
Boddington
Boyanup
Bridgetown
Broome
Bullsbrook
Bunbury
Busselton
Cannington
Capel
Carnarvon
Chidlow
Collie
Cowaramup
Dampier
Denmark
Derby
Dongara
Donnybrook
Drummond Cove
Dunsborough
Esperance
Exmouth
Fitzroy Crossing
Fremantle
Geraldton
Halls Creek
Harvey
Jarrahdale
Jurien Bay
Kalbarri
Kalgoorlie
Kambalda
Kambalda West
Karratha
Katanning
Kojonup
Kununurra
Kwinana
Leschenault
Lesmurdie
Little Grove
Lower Chittering
Lower King
Mandurah
Manjimup
Margaret River
Merredin
Moora
Mount Barker
Mundijong
Narrogin
Newman
Northam
Nullagine
Paraburdoo
Perth
Pinjarra
Port Denison
Port Hedland
Quindalup
Ravenswood
Serpentine
Tom Price
Toodyay
Two Rocks
Vasse
Wagin
Waroona
Wickham
Wooroloo
Wundowie
Yallingup
Yanchep
York
Yunderup